@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-dark-200: #d1d5db;
  --color-light-blue-100: #1e3a8a33;
  --color-light-blue-200: #3b82f633;

  --color-badge-green: #14532d;
  --color-badge-red: #7f1d1d;
  --color-badge-yellow: #78350f;
  --color-badge-green-text: #d1fae5;
  --color-badge-red-text: #fee2e2;
  --color-badge-yellow-text: #fef3c7;
  --color-badge-green-bg: rgba(16, 185, 129, 0.1);
  --color-badge-yellow-bg: rgba(245, 158, 11, 0.1);
  --color-badge-red-bg: rgba(239, 68, 68, 0.1);
}

html,
body {
  @apply bg-[#0e0e0e] text-gray-200;
}

main {
  @apply min-h-screen pt-10;
}

h1 {
  @apply max-sm:text-[3rem] text-6xl text-gradient leading-tight xl:tracking-[-2px] font-semibold;
}

h2 {
  @apply max-sm:text-xl text-3xl text-dark-200;
}

label {
  @apply text-dark-200;
}

input,
textarea {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-[#1c1c1c] text-white placeholder-gray-400;
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#c084fc] via-[#8b5cf6] to-[#22d3ee];
  }

  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl border border-[#3b82f6]/30;
  }

  .primary-button {
    @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
  }

  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-[#333];
  }

  .resume-summary {
    @apply flex flex-row items-center justify-center p-4 gap-4;

    .category {
      @apply flex flex-row gap-2 items-center bg-[#1a1a1a] rounded-2xl p-4 w-full justify-between text-white;
    }
  }

  .back-button {
    @apply flex flex-row items-center gap-2 border border-gray-700 rounded-lg p-2 shadow-sm;
  }

  .auth-button {
    @apply primary-gradient rounded-full py-4 px-8 cursor-pointer w-[600px] max-md:w-full text-3xl font-semibold text-white;
  }

  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 max-sm:mx-2 mx-15 pb-5;
  }

  .page-heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center max-sm:gap-4;
  }

  .resumes-section {
    @apply flex flex-wrap max-md:flex-col max-md:gap-4 gap-6 items-start max-md:items-center w-full max-w-[1850px] justify-evenly;
  }

  .resume-card {
    @apply flex flex-col gap-8 h-[560px] w-[350px] lg:w-[430px] xl:w-[490px] bg-[#1a1a1a] rounded-2xl p-4 text-white shadow-md shadow-[#3b82f622];
  }

  .resume-card-header {
    @apply flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
  }

  .feedback-section {
    @apply flex flex-col gap-8 w-1/2 px-8 max-lg:w-full py-6;
  }

  .navbar {
    @apply flex flex-row justify-between items-center bg-[#1a1a1a] rounded-full p-4 w-full px-10 max-w-[1200px] mx-auto border border-[#333];
  }

    .score-badge {
    @apply flex flex-row items-center justify-center py-1 px-2 gap-4 rounded-[96px] bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 text-white;
  }

  .form-div {
    @apply flex flex-col gap-2 w-full items-start;
  }

  .uplader-drag-area {
    @apply relative p-8 text-center transition-all duration-700 cursor-pointer bg-[#1c1c1c] rounded-2xl min-h-[208px] border border-dashed border-gray-700;
  }

  .uploader-selected-file {
    @apply flex items-center justify-between p-3 bg-[#2a2a2a] rounded-2xl text-white;
  }
}

@utility bg-gradient {
  background: linear-gradient(to bottom, #1e1b4b, #8b5cf6);
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#c084fc] via-[#8b5cf6] to-[#22d3ee];
}

@utility gradient-hover {
  @apply bg-gradient-to-b from-purple-800/20 to-blue-800/20;
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #6366f1, #3b82f6);
  box-shadow: 0px 74px 21px 0px #3b82f622;
}

@utility primary-gradient-hover {
  background: linear-gradient(to bottom, #4f46e5, #2563eb);
}

@utility inset-shadow {
  box-shadow: inset 0 0 12px 0 rgba(59, 130, 246, 0.2);
  backdrop-filter: blur(10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
